{% extends "icp_main/base_template.html" %}

{% block content %}

<style type="text/css">
#content {
height:auto;
}
</style>

<body id="tab1">
<div id="text">

<div id="crumb">
You are here: <a href="/">Home</a>
</div>

<h3>About</h3>
<p>
The NDSU Computer Science Industry/University Consortium Program(ICP) is dedicated to strengthening ties between NDSU and regional industry.
The goal of the consortium is to perform basic and applied research designed to enhance the capabilities of its industrial and government affilities.
These companies will work with the Computer Science Department to define research projects of interest to the companies. The results of this research will become avialable to memebr organizations.
</p>
<h3>Welcome</h3>
<table align="center">
<tr>
<td>
<img src="/static/icp2.png" alt="" />
</td>
<td>
<h1 class="welcome">Welcome to NDSU-CS-ICP.net</h1>
</td>
</tr>
</table>

<p> This website is intended to provide information to ICP members as well as any interested parties. Some areas are restricted to members only, however many areas are open to the public. Through this site you will be able to learn about the consortium and the work that is going on as well as past activities</p>

<p>If you have any questions go to the contacts section for more information</p>

</div>
</body>

{% endblock %}
