{% extends "icp_main/base_template.html" %}

{% block content %}
<style type="text/css">
#content {
height:650px;
}
</style>
<body id="tab4">
<div id="text">

<div id="crumb">
You are here: <a href="/">Home</a> ><a href="/partner/">Partners</a>
</div>

<h3>ICP Partners</h3>

<ul class="partner">
<li><a href="https://www.satshot.com/"><img src="/static/1.png" border="0" alt="" /></a></li>
<li><a href="http://www.deere.com/en_US/deerecom/"><img src="/static/3.png" border="0" alt="" /></a></li>
<li><a href="http://www.rdoequipment.com/"><img src="/static/5.png" border="0" alt="" /></a></li>
<li><a href="http://www.crystalsugar.com/"><img src="/static/2.png" border="0" alt="" /></a></li>
<li><a href="http://www.ndsu.nodak.edu/"><img src="/static/4.png" border="0" alt="" /></a></li>
</ul>

<ul class="partner1">
<li><h4>StatShot</h4><a href="https://www.satshot.com/">https://www.satshot.com/</a></li>
<li><h4>John Deer</h4><a href="http://www.deere.com/en_US/deerecom/">http://www.deere.com/en_US/deerecom/</a></li>
<li><h4>RDO Equipment Co.</h4><a href="http://www.rdoequipment.com/">http://www.rdoequipment.com/</a></li>
<li><h4>American Crystal Sugar Comapany</h4><a href="http://www.crystalsugar.com/">http://www.crystalsugar.com/</a></li>
<li><h4>North Dakota State University</h4><a href="http://www.ndsu.nodak.edu/">http://www.ndsu.nodak.edu/</a></li>
</ul>

</div>
</body>

{% endblock content%}
