{% extends "icp_main/base_template.html" %}

{% block content %}

<div id="text">

	<h4>{{ display.name }}</h4>
	<table border="0">
		<tr>
			<td id="showcase_text">
				{{ display.description|linebreaks }}<br>
				</table>
			</td>
		</tr>
	</table>
	{% if authenticated %}
	<div>
		<h4>Downloads</h4>
		{% for download in downloads %}
			<p>
				<a href="{{ download.file.url }}">{{ download.description }}</a>
			</p>
		{% endfor %}
	</div>
	{% else %}
	<div>
	<p style="text-align:right;"><a class="button" style="color:white;" href="/resource/">Detailed Info</a></p>	
	</div>
	{% endif %}

</div> 


{% endblock content %}
